<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-danger"><i class="fa fa-user-circle"></i>
            Client Register</span> 
        </h1>
        <form (submit)="submit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password" required>
          </div>
          <input type="submit" value="Register" class="btn btn-block btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>